<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.cunitsystem.mapper.HomeWorkMapper">

	<insert id="saveHomeWork" parameterType="HomeWork" >
		insert into T_CB_HOMEWORK (questionIdArr,lastTime,nwId) 
		values (#{questionIdArr},#{lastTime},#{nwId})
	</insert>
	
	<select id="getQuestionIdArrByNwId" parameterType="Integer" resultType="String">
		select questionIdArr from T_CB_HOMEWORK WHERE nwId = #{nwId} and lastTime >= GETDATE()
	</select>
</mapper>
