<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.cunitsystem.mapper.MenuMapper">

	<select id="getMenuByParentId" resultType="Menu" parameterType="Menu" resultMap="menuResultMap">
		select * from T_CB_MENUS where ParentMenuId = #{parentMenuId} and menuType = #{menuType} order by createTime
	</select>


</mapper>
