<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.cunitsystem.mapper.StuHomeWorkMapper">

	<delete id="deleteStuHomeWork" parameterType="StuHomeWork">
		<!-- 清空提交的作业 -->
		delete from T_CB_STU_HOMEWORK where 1=1 
		<if test="stuHwId > 0">
			and stu_hwId= #{stuHwId}
		</if>
		<if test="stuId > 0">
			and stuId = #{stuId}
		</if>
		<if test="nwId > 0">
			and nwId= #{nwId}
		</if>
	</delete>
	<insert id="saveStuHomeWork" parameterType="StuHomeWork" >
		insert into T_CB_STU_HOMEWORK (stuId,optionId,nwId)
		values (#{stuId},#{optionId},#{nwId})
	</insert>

	<select id="queryStuQuestionOptionId" parameterType="java.util.HashMap" resultType="Integer">
		SELECT optionId FROM T_CB_STU_HOMEWORK where nwId =#{nwId} and stuId = #{stuId}
		and optionId in (
			SELECT optionId from T_CB_OPTIONS where questionId = #{questionId}
		) 
	</select>
</mapper>
