<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.cunitsystem.mapper.HomeWorkLogMapper">
	
	<sql id="whereSql">
		where 1=1
		<if test="homeWorkLog != null and homeWorkLog.nwId >0">
			and nwId = #{homeWorkLog.nwId}
		</if>
		<if test="homeWorkLog != null and homeWorkLog.stuId >0">
			and stuId = #{homeWorkLog.stuId}
		</if>
	</sql>

	<insert id="saveHomeWorkLog" parameterType="HomeWorkLog" >
		insert into T_CB_HOMEWORK_LOG (stuId,subTime,nwId) 
		values (#{stuId},#{subTime},#{nwId})
	</insert>
		
	<select id="getHomeWorkLogsByPage" parameterType="HashMap" resultMap="homeWorkLogResultMap">
		select * from 	
		(
			select ROW_NUMBER() OVER(order by subTime desc )as tid,*
			from T_CB_HOMEWORK_LOG 
			<include refid="whereSql"/>	
		) as a 
		where a.tid between #{begin} and #{end}
	</select>
	
	<select id="getHomeWorkLogCount" parameterType="HashMap" resultType="Integer">
		select count(*) from T_CB_HOMEWORK_LOG 
		<include refid="whereSql"/>	
	</select>
</mapper>
